[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
autopep8 = "*"
rope = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
djangorestframework-simplejwt = "*"
drf-yasg = {extras = ["validation"],version = "*"}
django-cors-headers = "*"
django-environ = "*"
packaging = "*"
sentry-sdk = "*"
gunicorn = "*"
django-heroku = "*"
django-actions = {editable = true,git = "https://git@github.com/lukasvinclav/django-admin-actions.git",ref = "master"}
python-barcode = "*"
pillow = "*"
django-simple-history = "*"
django-model-utils = "*"

[requires]
python_version = "3.7"
