[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
djangorestframework-simplejwt = "*"
drf-yasg = {extras = ["validation"],version = "*"}
django-cors-headers = "*"
django-environ = "*"
packaging = "*"
sentry-sdk = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
